<html lang="en">
<head>
        <title>{{ appname }}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'Staff/index.css' %}">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="nav-extended deep-orange accent-4">
        <div class="nav-wrapper">
            <a href="{{ applink }}" class="brand-logo nav_title">{{ appname }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col m0 l3"></div> <!-- For positioning -->
        <div class="col m12 l6">
            <div class="card">
                <div class="card-content">
                    <h4>Staff Login</h4>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#login">Login</a></li>
                        <li class="tab"><a class="active" href="#create">Create</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="login">
                        <form action="/staff/auth/" method="POST">
                            {% csrf_token %}
                            {{ authform }}
                            <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                        </form>
                    </div>
                    <div id="create">
                        <form action="/staff/create/" method="POST">
                            {% csrf_token %}
                            {{ createform }}
                            <ul>
                                <li>Your password can't be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can't be a commonly used password.</li>
                                <li>Your password can't be entirely numeric.</li>
                            </ul>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Create Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="{% static 'Staff/login.js' %}"></script>
</body>