{% extends "Staff/base_template.html" %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'Staff/index.css' %}">
{% endblock %}

{% block page_content %}
<div class='container'>
    <div class="row">
        <div class="col s12">
            <div class="card white hoverable">
                <div class="card-content black-text">
                    <span class="card-title">Rental Trends</span>
                    <div class="row">
                        <table>

                            <tr><td>Starting at:</td><td><a id="starting-dropdown" class='dropdown-trigger btn red' href='#' data-target='starting-location'> Anywhere </a></td>

                            <tr><td>Finishing at:</td><td><a id="ending-dropdown" class='dropdown-trigger btn red' href='#' data-target='ending-location'> Anywhere </a></td>


                            <tr><td>Only show orders that have differing start and end stores: </td><td>
                                <div class="switch">
                                    <label>
                                        Show All
                                        <input id="filterToggle" type="checkbox" onclick="toggleFilter()">
                                        <span class="lever"></span>
                                        Show Only Different
                                    </label>
                                </div>
                            </a></td>
                            
                        </table>
                    </div>


                    <ul id='starting-location' class='dropdown-content'>
                        <li><a onclick="setStart('Anywhere')">Anywhere</a></li>
                        {% for store in stores %}
                        <li><a onclick="setStart('{{store}}')">{{store}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul id='ending-location' class='dropdown-content'>
                        <li><a onclick="setEnd('Anywhere')">Anywhere</a></li>
                        {% for store in stores %}
                        <li><a onclick="setEnd('{{store}}')">{{store}}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="row" id="loading-box">
        <div class="col s2 offset-s5">
                <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12" id="result-container">

        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function updateGraph(){
        let url = "{{dyn_update_url}}";
        clearResults();
        setLoading(true);
        $.get(url, {start:startLocation, end:endLocation, useFilter:useFilter},(response)=> {
            setTimeout(()=>{
            
            for(order of response.orders){
                addResult(order);
            }
            setLoading(false);
        }, 500, response );
    });
    }

</script>
<script src="{% static 'Staff/logistics.js' %}"></script>
{% endblock %}