<html>
<head>
    <title>Hello World Django Example</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HelloWorld/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Django Hello World Example</a>
        </div>
    </nav>
    <div id="container">
    {% for element in elements %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{element.title}}</span>
                <p>{{element.text}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>