<html lang="en">
<head>
        <title>{{ appname }}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'Home/index.css' %}">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="nav-extended pink darken-3">
        <div class="nav-wrapper">
            <a href="{{ applink }}" class="brand-logo nav_title">{{ appname }}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li {% if viewtype == "personal" %} class='active' {% endif %}><a href="/personal">Personal</a></li>
                <li {% if viewtype == "commercial" %} class='active' {% endif %}><a href="/commercial">Commercial</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li {% if viewtype == "personal" %} class='active' {% endif %}><a href="/personal">Personal</a></li>
        <li {% if viewtype == "commercial" %} class='active' {% endif %}><a href="/commercial">Commercial</a></li>
    </ul>

    <div class='container'>
        <div class="row">

            <div class="col s12">


                <div class="card white hoverable">
                    <div class="card-content black-text">
                        <form method="get">
                            <!-- query filter -->
                            <div class="row">
                                <div class="input-field col s12 m10">
                                    <input id="query" type="text" name="query" class="validate" placeholder="begin here" value="{% if query %}{{query}}{% endif %}"></input>
                                    <label for="query">Search</label>
                                </div>
                                <div class="col s6 m1 valign-wrapper">
                                    <a class="btn-floating btn-medium waves-effect waves-light red" id="filter-toggle"><i class="material-icons">arrow_drop_down</i></a>
                                </div>
                                <div class="col s6 m1 valign-wrapper">
                                    <button class="btn-floating btn-medium waves-effect waves-light" type="submit" name="action" value="submit">
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                            <!-- passenger capacity filter -->
                            <div id="filters" style="display:none">
                                <!-- store availability filter -->
                                <div class="row">
                                    <div class="col s12">
                                        <label for="store">Select Pick-Up Store</label>
                                        <select name="store" id="store">
                                            <option value = "" disabled selected>Select store</option>
                                            {% if storelist %}
                                                {% for store in storelist  %}
                                                <option value="{{store.id}}">{{store.name}}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label for="min_seats">Minimal passenger capacity</label>
                                        <input name="viewtype" type="hidden" value="{{viewtype}}">
                                        <input name="min_seats" type="range" id="min_seats" min="1" max="12" value="{% if min_seats %}{{min_seats}}{% else %}5{% endif %}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col m3 s12">
                                        <span>Luggage Capacity</span>
                                    </div>
                                    <div class="col m2 s12">
                                        <label>
                                            <input name="capacity" type="radio" value='any' {% if capacity == None or capacity == 'any' %} checked {% endif %} />
                                            <span>Any</span>
                                        </label>
                                    </div>
                                    <div class="col m2 s12">
                                        <label>
                                            <input name="capacity" type="radio" value='small'  {% if capacity and capacity == 'small' %} checked {% endif %}  />
                                            <span>Small</span>
                                        </label>
                                    </div>
                                    <div class="col m2 s12">
                                        <label>
                                            <input name="capacity" type="radio" value='medium' {% if capacity and capacity == 'medium' %} checked {% endif %}  />
                                            <span>Medium</span>
                                        </label>
                                    </div>
                                    <div class="col m2 s12">
                                        <label>
                                            <input name="capacity" type="radio" value='large' {% if capacity and capacity == 'large' %} checked {% endif %}  />
                                            <span>Large</span>
                                        </label>
                                    </div>
                                </div>
                                <!-- price filter -->
                                <div class="row">
                                    <div class="col s6">
                                        <label for="min_price">Minimal Price</label>
                                        <input id="min_price" type="number" name="min_price" placeholder="0" value="{% if min_price %}{{min_price}}{% endif %}">
                                    </div>
                                    <div class="col s6">
                                        <label for="max_price">Maximal Price</label>
                                        <input id="max_price" type="number" name="max_price" placeholder="666" value="{% if max_price %}{{max_price}}{% endif %}">
                                    </div>
                                </div>
                                <!-- make model year filter -->
                                <div class="row">
                                    <div class="input-field col s12 m4">
                                    <select name="make" id="make">
                                            <option value = "" disabled selected>Select make</option>
                                    </select>
                                    <label for="make">make</label>
                                    </div>

                                    <div class="input-field col s12 m4">
                                    <select name="model" id="model">
                                            <option value = "" disabled selected>Select model</option>
                                    </select>
                                    <label for="model">model</label>
                                    </div>

                                    <div class="input-field col s12 m4">
                                    <select name="year" id="year">
                                        <option value = "" disabled selected>Select year</option>
                                    </select>
                                    <label for="year">year</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if recomendation is not None %}
                <div class="col s12">
                    <div class="card white hoverable">
                        <div class="card-content pink-text">
                            <span class="card-title">Our recommendation</span>
                        </div>
                        <div class="card-content black-text">
                            <span class="card-title">{{recomendation.name}}</span>
                            <p>{{recomendation.desc}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{recomendation.link}}">More Details</a>
                        </div>
                    </div>
                </div>
            {% endif %}


        {% if carlist %}
            {% for car in carlist %}
                <div class="col s12 m6">
                    <div class="card small white hoverable">
                        <div class="card-content black-text">
                            <span class="card-title">{{car.name}}</span>
                            <p>{{car.desc}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{car.link}}">More Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}

        <div class="col s12">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title center">There are no cars here <i class="material-icons center">error_outline</i></span>
                    <p class="center">Try altering your search critera to be more general</p>
                </div>
            </div>
        </div>

        {% endif %}

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="{% static 'Home/index.js' %}"></script>

    <script type="text/javascript">
        // should be in index.js, but isnt loading
        $(document).ready(function() {
           $('select').formSelect();
         });

        let selections = {{makes_models_years_set|safe}};

        let makeSelection = document.getElementById('make');
        let modelSelection = document.getElementById('model');
        let yearSelection = document.getElementById('year');
        let filterToggle = document.getElementById('filter-toggle');
        let filters = document.getElementById('filters');

        document.addEventListener('DOMContentLoaded', ()=>{

            for(let make of Object.keys(selections)){
                makeSelection.innerHTML +=  "<option value ='" + make + "'>" + make + "</option>";
            }
            M.FormSelect.init(makeSelection, null);
            M.FormSelect.init(modelSelection, null);
            M.FormSelect.init(yearSelection, null);
        }, false);

        function populateModels(makeName){
            for(let model of Object.keys(selections[makeName])){
                modelSelection.innerHTML +=  "<option value ='" + model + "'>" + model + "</option>";
            }
            M.FormSelect.init(modelSelection, null);
        }

        function populateYears(makeName, modelName){
            for(let year of selections[makeName][modelName]){
                yearSelection.innerHTML +=  "<option value ='" + year + "'>" + year + "</option>";
            }
            M.FormSelect.init(yearSelection, null);
        }

        function clearModels(){
            modelSelection.innerHTML = '<option value = "" disabled selected>Select model</option>'
            modelSelection.selectedIndex = 0;
            M.FormSelect.init(modelSelection, null);
        }

        function clearYears(){
            yearSelection.innerHTML = '<option value = "" disabled selected>Select year</option>'
            yearSelection.selectedIndex = 0;
            M.FormSelect.init(yearSelection, null);
        }

        function onMakeChanged(){
            clearModels();
            clearYears();
            populateModels(makeSelection.options[makeSelection.selectedIndex].value);
        }

        function onModelChanged(){
            clearYears();
            populateYears(makeSelection.options[makeSelection.selectedIndex].value, modelSelection.options[modelSelection.selectedIndex].value);
        }

        function onFilterToggle(){
            let current_state = filters.style.display == 'block';
            filterToggle.children[0].innerHTML = current_state ? "arrow_drop_down" : "arrow_drop_up";
            filters.style.display = current_state ? "none" : "block";
        }

        makeSelection.addEventListener('change', () => onMakeChanged());
        modelSelection.addEventListener('change', () => onModelChanged());
        filterToggle.addEventListener('click', () => onFilterToggle());

        $('.sidenav').sidenav();

    </script>

</body></html>
